*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
#P1{
  margin-top: 10%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 10%;

  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
  height: 400px;
  font-family: 'Saira Stencil One',cursive;
  font-size: 300px;

}
.button{
  color: #6C0101;
  padding: 0px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 300ms;
}
.button:hover{
  transform: translateY(-10px);
  box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}

#video_background {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
#video_pattern {
	background-size: cover;
	position: fixed;
	opacity: 0.8;
	left: 120px;
	width: 100%;
	height: 500%;
  transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}
