*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

.persona{
  background: linear-gradient(90deg, gray,  brown);
  width: 30%;
  opacity: 0.8;
  margin-left:  10.5%;
  margin-bottom: 2%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}

.persona img{
  width: 45%;
  height: 8%;
  margin-top: 3%;
  margin-left: 28%;
}
.persona p{
  color: white;
  font-size: 20px;
  margin-left: 3%;
  margin-top: 12.4%;
  margin-right: 3%;
  margin-bottom: 5%;
  text-align: center;
}
#uno{
position: absolute; left: 5%;
}
#dos{
  height: 20%;
}
#two{
  position: absolute; top: 0%; left: 50%;
}
#three{
  position: absolute; left: 0%; top: 0%;
}
#four{
  position: absolute; top: 65%; left: 0%;
}
#five{
  position: absolute; top: 128.5%; left: 0%;
}
#six{
  position: absolute; top: 119%; left: 50%;
}
#one{
  position: absolute; top: 63%; left: 50%;
}
#P1{
  margin-top: 100%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 10%;

  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
  height: 390px;
  font-family: 'Saira Stencil One',cursive;
  font-size: 115px;

}
.button{
  color: #6C0101;
  padding: 0px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 300ms;
}
.button:hover{
  transform: translateY(-10px);
  box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;

}

.container .card{
    width: 260px;
    height: 430px;
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 270px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
#video_background {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
#video_pattern {
	background-size: cover;
	position: fixed;
	opacity: 0.8;
	left: 120px;
	width: 100%;
	height: 500%;
  transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}
