*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.rima{
  text-decoration: none;
  color: Purple;
}
.wrap{
  width: 13%;

}


.tarjeta{
  width: 150px;
  height: 150px;
  background: #F29720;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
  box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

  margin: 20px;
}

.adelante, .atras{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.adelante{
  width: 100%;
}
#sad p{
  margin-top: -7%;
}
.atras{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 15px;
  color: black;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  margin-top: 1%;

}
.tarjeta-wrap p{
  text-decoration: none;
}

.tarjeta-wrap:hover .tarjeta{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card1{
  background-image: url(imagenes/none.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.card2{
  background-image: url(imagenes/francisco.png);
  background-size: cover;
}

.card3{
  background-image: url(imagenes/anyula.jpg);
  background-size: cover;
}
.card4{
  background-image: url(imagenes/carmelo.jpg);
  background-size: auto;
}
.card5{
  background-image: url(imagenes/chochi.png);
  background-size: cover;
}
.card6{
  background-image: url(imagenes/marias.png);
  background-size: cover;
}
.card7{
  background-image: url(imagenes/marti.png);
  background-size: cover;
}
#uno{
  margin-top: auto;
  margin-left: 325%;
}
#dos{
  margin-left: 160%;
  margin-top: -19%;
}
#tres{
  margin-left: 445%;
  margin-top: -35%;
}
#cuatro{
  margin-left: 250%;
  margin-top: 105%;
}
#cinco{
  margin-left: 395%;
  margin-top: -102%;
}
#seis{
  margin-top: -102%;
  margin-left: 128%;
}
#siete{
  margin-left: 190%;
  margin-top: 46%;
}
.tarjeta-wrap{
  -webkit-perspective: 800;
  perspective: 800;
}
#barra{
  background-color: red;
  height: 1%;
  width: 16.2%;
  position: absolute; top: 10%; left: 28%;
}
#barra2{
  background-color: red;
  height: 14.75%;
  width: 0.6%;
  position: absolute; top: 10%; left: 28%;
}
#barra3{
  background-color: red;
  height: 1%;
  width: 9.7%;
  position: absolute; top: 10%; left: 55.5%;
}
#barra4{
  background-color: red;
  height: 33.5%;
  width: 0.6%;
  position: absolute; top: 10%; left: 65%;
}
#barra5{
  background-color: red;
  height: 61.5%;
  width: 0.6%;
  position: absolute; top: 23%; left: 50%;
}

#barra6{
  background-color: red;
  height: 1%;
  width: 18.8%;
  position: absolute; top: 84%; left: 40%;
}
#barra7{
  background-color: red;
  height: 8.5%;
  width: 0.6%;
  position: absolute; top: 85%; left: 40%;
}
#barra8{
  background-color: red;
  height: 8.5%;
  width: 0.6%;
  position: absolute; top: 85%; left: 58.15%;
}
#barra9{
  background-color: red;
  height: 1%;
  width: 5%;
  position: absolute; top: 103%; left: 29.5%;
}
#barra10{
  background-color: red;
  height: 27%;
  width: 0.6%;
  position: absolute; top: 103%; left: 31.7%;
}


#P1{
  margin-top: 10%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
  height: 400px;
  font-family: 'Saira Stencil One',cursive;
  font-size: 300px;

}
.button{
  color: red;
  padding: 0px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 300ms;
   text-decoration: none;
}
.button:hover{
  transform: translateY(-10px);
  box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}
.content-all{
  width: 15%;

  margin: auto;
  perspective: 1000px;
  position: absolute; top: 130%; left: 60%;
}
.content-carrousel{
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
}
.content-carrousel:hover{
  animation-play-state: paused;
}
.content-carrousel figure{
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: absolute;

}
.content-carrousel figure:nth-child(1){transform: rotateY(0deg)
  translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(45deg)
  translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(90deg)
  translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(135deg)
  translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(180deg)
  translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(225deg)
  translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(265deg)
  translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(305deg)
  translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(360deg)
  translateZ(300px);}

.content-carrousel img{
  width: 100%;
  transition: all 300ms;
  height: 180px;
}
.content-carrousel img:hover{
  transform: scale(1.1);
  transition: all 300ms;
}
@keyframes rotar {
  from{
    transform: rotateY(0deg);
  }to{
    transform: rotateY(360deg);
  }
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;

}

.container .card{
    width: 260px;
    height: 430px;
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 35px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 270px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
#video_background {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
#video_pattern {
	background-size: cover;
	position: fixed;
	opacity: 0.8;
	left: 120px;
	width: 100%;
	height: 500%;
  transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}
