*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
body{
padding: 0;
}
.container-portada{
  background-image:url('imagenes/madera.jpg');
  background-size: cover;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  animation: movimiento 70s infinite linear alternate;;

}
@keyframes movimiento{
  from{
    background-position: bottom left;
  }to{
    background-position:top right;
  }

}
#P1{
  margin-top: 10%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
  height: 400px;
  font-family: 'Saira Stencil One',cursive;
  font-size: 300px;


}

.Francisco{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 600px;
  background: linear-gradient(90deg, #813F04, black );
  opacity: 0.8;
  font-family:  'Lexend Giga', sans-serif;
  margin-bottom: 5%;
  margin-left: 28.5%;
  margin-right: 22.5;
  margin-top: 9%;
  border-radius: 8px;
}
#fran{
  border-radius: 140%;
  margin-top: 10%;
  width: 300px;
  height: 300px;
}

.Francisco p{
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 4%;
  margin:auto;
}
.button{
  color: red;
  padding: 0px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 300ms;
}
.button:hover{
  transform: translateY(-10px);
  box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);

}
.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom:5%
}
.container .card{
    width: 260px;
    height: 430px;
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 50px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 270px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}



#video_background {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
#video_pattern {
	background-size: cover;
	position: fixed;
	opacity: 0.8;
	left: 120px;
	width: 100%;
	height: 500%;
  transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}
