*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Saira Stencil One',cursive;
}

.AllsContainer{
  height: 650px;
  width: 100%;
}
.AllsContainer img{
  width: 150px;
  height: 100%;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.container1{
  margin: auto;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-start;
}
#box1{
  height: 100%;
  width: 60%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;
}
#box1:hover{
  transform: translateY(7px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#box1 a{
  color: white;
  position: absolute; 20%;
  font-size: 75px;
  font-weight: 50;
  text-decoration: none;
  z-index: 50;
}
#box2{
  height: 100%;
  width: 40%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;

}
#box2:hover{
  transform: translatey(7px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#box2 a{
  color: white;
  position: absolute; 20%;
  font-size: 75px;
  font-weight: 500;
  text-decoration: none;
  z-index: 50;
}
.container2{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;

}
.container2A{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#boxA{
  height: 33%;
  width: 100%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;
}
#boxA:hover{
  transform: translateY(7px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#boxA a{
  color: white;
  position: absolute; 20%;
  font-size: 75px;
  font-weight: 500;
  text-decoration: none;
  z-index: 50;
}
#boxB{
  height: 33%;
  width: 100%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;
  display: flex;
}
#boxB:hover{
  transform: translateY(7px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#boxB a{
  position: static;
  color: white;
  font-size: 60px;
  font-weight: 500;
  text-decoration: none;
  z-index: 50;
  margin-top: 3%;
}
#boxC{
  height: 33%;
  width: 100%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;
}
#boxC:hover{
  transform: translateY(7px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#boxC a{
  color: white;
  position: absolute; 20%;
  font-size: 75px;
  font-weight: 500;
  text-decoration: none;
  z-index: 50;
}
.container2B{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#boxZ{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 40%;
  height: 50%;
  font-family: 'Saira Stencil One',cursive;
  font-size: 300px;
  opacity: 0.7;
}
#boxZ a{
  color: red;
}
.container2C{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
#boxX{
  height: 33%;
  width: 100%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;
}
#boxX:hover{
  transform: translateY(7px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#boxX a{
  color: white;
  position: absolute; 20%;
  font-size: 75px;
  font-weight: 500;
  text-decoration: none;
  z-index: 50;
}
#boxXX{
  height: 33%;
  width: 100%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;
}
#boxXX:hover{
  transform: translateY(7px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#boxXX a{
  color: white;
  position: absolute; 20%;
  font-size: 75px;
  font-weight: 500;
  text-decoration: none;
  z-index: 50;
}
#boxXXX{
  height: 33%;
  width: 100%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;
}
  #boxXXX:hover{
    transform: translateY(7px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  #boxXXX a{
    color: white;
    position: absolute; 20%;
    font-size: 75px;
    font-weight: 500;
    text-decoration: none;
    z-index: 50;
  }
.container3{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-end;
}
#boxI{
  width: 40%;
  height: 100%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;
}
#boxI:hover{
  transform: translateY(-7px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#boxI a{
  color: white;
  position: absolute; 20%;
  font-size: 75px;
  font-weight: 500;
  text-decoration: none;
  z-index: 50;
}
#boxII{
  width: 60%;
  height: 100%;
  background: linear-gradient(40deg, red, purple);
  border-radius: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0.7;
}
#boxII:hover{
  transform: translateY(-7px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#boxII a{
  color: white;
  position: absolute; 20%;
  font-size: 75px;
  font-weight: 500;
  text-decoration: none;
  z-index: 50;
}

#video_background {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
#video_pattern {
	background-size: cover;
	position: fixed;
	opacity: 0.8;
	left: 120px;
	width: 100%;
	height: 500%;
  transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}
